/* Importing Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;  
    background: linear-gradient(to right, rgba(0, 0, 128, 0.7), rgba(255, 0, 0, 0.7));
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
}

.title {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.title-desc {
    font-size: 15px;
    font-weight: 200;
    color: seashell;
    margin-bottom: 30px;
    padding: 0 10px;
    margin: auto 400px;
}

.container {
    position: relative;
    background-color: rgba(63, 126, 219, 0.1);
    backdrop-filter: blur(100px);
    border: 2px solid rgb(31, 31, 36);
    width: 400px;
    height: 80%;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    color: #fff;
    transition: height 0.6s ease, opacity 0.6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading {
    display: none;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.loading.active {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.weather-box, .weather-details, .not-found {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.weather-box.active, .weather-details.active, .not-found.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.weather-box.inactive, .weather-details.inactive, .not-found.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.weather-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.weather-box img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.weather-box .temperature {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.weather-details {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.weather-details .humidity, .weather-details .wind {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 22px;
    margin: 0 10px;
}

.weather-details .humidity img,
.weather-details .wind img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.weather-details span {
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 110px;
    width: 100%;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.city-hide {
    display: none;
}

@media (max-width: 768px) {
    .weather-details {
        flex-direction: column;
        align-items: center;
    }

    .weather-details .humidity,
    .weather-details .wind {
        margin: 10px 0;
    }

    .weather-details .humidity img,
    .weather-details .wind img {
        width: 50px;
        height: 50px;
    }

    .container {
        width: 90%;
    }

    .weather-box .temperature {
        font-size: 48px;
    }

    .weather-box .description {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .title {
      font-size: 30px; 
      text-align: center; 
      margin-top: 15px;
    }

    .title-desc {
      font-size: 13px; 
      margin: 20px;    
      text-align: center; 
      padding: 0 15px; 
    }
}
  
@media (max-width: 480px) {
    .title {
      font-size: 24px; 
      text-align: center; 
      margin-top: 10px;
    }

    .title-desc {
      font-size: 12px; 
      margin: 15px;   
      padding: 0 5px;  
      text-align: center; 
    }
}
